.nav {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-family: var(--font-title);
  font-weight: bold;
  height: 60px;
  padding: 0 10px;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav__menu {
  display: none;
  position: fixed;
  left: calc(100% - 34px);
  top: 8px;
  transition: transform 0.3s var(--timing-function);
}
.nav__menu a {
  align-items: center;
  display: flex;
}
.nav__menu a svg {
  margin-right: 0.5rem;
}
.nav__menu button {
  left: -10px;
  position: relative;
  top: 5px;
}

.nav__menu-links {
  background-color: var(--color-background);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 16px);
  padding: 0.6rem;
}

.nav__right {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.nav__menu,
.nav__right {
  color: var(--color-font);
}

.nav__menu a,
.nav__right a {
  font-family: var(--font-secondary);
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav__menu a:link,
.nav__menu a:visited,
.nav__right a:link,
.nav__right a:visited {
  color: var(--color-font);
}
.nav__menu a:focus,
.nav__menu a:hover,
.nav__right a:focus,
.nav__right a:hover {
  color: var(--color-primary);
}
.nav__menu a:link svg,
.nav__menu a:visited svg,
.nav__right a:link svg,
.nav__right a:visited svg {
  color: var(--color-primary);
}

.nav__menu-links a {
  margin: 0.3rem 0;
}
.nav__menu-links button {
  margin-left: auto;
  margin-top: 1rem;
}

.nav__right * {
  margin: 0 0.6rem;
}
.nav__right button {
  margin-left: 1.2rem;
}

@media (max-width: 799px) {
  .nav__menu {
    display: flex;
  }

  .nav__right {
    display: none;
  }
}