.about h2 {
  font-family: var(--font-title);
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
}

.about__portrait {
  border-radius: 50%;
  float: left;
  height: 350px;
  margin-bottom: 1.5rem;
  margin-right: 3rem;
  shape-outside: circle();
  width: 350px;
}

.about__portrait img {
  border-radius: 50%;
}

@media (max-width: 700px) {
  .about__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .about__portrait {
    float: unset;
    height: auto;
    margin-right: 0;
    max-height: 350px;
    max-width: 350px;
    shape-outside: none;
    width: 100%;
  }
}