.about h2 {
  font-family: var(--font-title);
  margin-bottom: 3rem;
  text-align: right;
  width: 350px;
}

.about__portrait {
  border-radius: 100%;
  float: left;
  height: 250px;
  width: 250px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  shape-outside: square();
}

.about__portrait img {
  border-radius: 50%;
}

@media (max-width: 700px) {
  .about__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .about__portrait {
    float: unset;
    height: auto;
    margin-right: 0;
    max-height: 200px;
    max-width: 200px;
    shape-outside: none;
    width: 100%;
  }
}