.publications {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.publications header {
  align-items: center;
  display: flex;
  margin-bottom: 1.5rem;
}
.publications header h1 {
  margin-bottom: 0rem;
}
.publications header svg {
  color: var(--color-primary);
  margin-left: 1rem;
}
.publications section {
  margin: 2rem 0;
  max-width: 970px;
  width: calc(100vw - 3rem);
}
.publications__list h2 {
  color: var(--color-primary);
  margin-top: 3rem;
}

.publications__list {
  list-style-type: none;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}